li {
  display: inline-block;
}
.choose {
  margin: 100px 0 150px;
}
.choose__title {
  font-size: var(--font-size-title);
  margin-bottom: 50px;
  font-weight: 700;
  text-align: center;
}
.choose__list {
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.choose__list__btn--active {
  color: var(--color-blue);
}
.choose__list__btn {
  font-size: 2.4rem;
  font-weight: 700;
  cursor: pointer;
  text-wrap: nowrap;
}
.tabs__contact__item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px 40px;
}
.card {
  text-align: center;
  border: 1px solid var(--color-blue);
}
.card :not(.card__link) {
  margin-bottom: 20px;
}
.card__img {
  border-bottom: 4px solid #fff;
}
.card__title {
  font-size: 2.4rem;
  font-weight: 700;
}
.card__text {
  font-size: 1.6rem;
}
.card__price {
  font-size: 2.4rem;
  font-weight: 700;
}
.card > .card__link {
  display: block;
  font-size: 1.6rem;
  color: var(--color-blue);
  border-top: 1px solid var(--color-blue);
}

@media (max-width: 1230px) {
  .tabs__contact__item {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
    max-width: 1000px;
    margin: 0 auto;
  }
  .card {
    width: 270px;
    height: 350px;
    margin: 0 auto;
  }
}
@media (max-width: 860px) {
  .choose__list {
    flex-wrap: wrap;
  }
  .tabs__contact__item {
    grid-template-columns: repeat(2, 1fr);
    max-width: 650px;
  }
}
@media (max-width: 580px) {
  .choose__title {
    font-size: 3.5rem;
  }
  .tabs__contact__item {
    grid-template-columns: 1fr;
    max-width: 450px;
  }
  .blog__items {
    flex-wrap: wrap;
    text-align: center;
  }
  .blog__link {
    margin: 0 auto;
  }
  .contact__text {
    padding: 0;
  }
  .contact__form {
    justify-content: center;
  }
  .contact__input {
    width: 100vw;
  }
}
