/* Змінні */
:root {
  --font-size: 1.8rem;
  --font-size-title: 4.8rem;
  --color-white: #ffffff;
  --color-blue: #0066ff;
  --color-black: #151515;
  --color-gray: #e8e8e8;
}
/* Основні стилі */
/* BTN */
.btn {
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: 5px;
  transition: background-color 0.15s linear;
}
.btn:hover {
  background-color: var(--color-blue);
}
.btn:focus {
  background-color: var(--color-blue);
}
.btn:active {
  background-color: var(--color-blue);
}
.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* Container */
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}
/* Header */
.header__page {
  background-color: var(--color-black);
}
.header__main {
  background-color: transparent;
  position: absolute;
  z-index: 7;
  left: 0;
  right: 0;
}
.header__inner {
  display: flex;
  align-items: end;
  justify-content: space-between;
  height: 55px;
  padding-top: 40px;
  padding-bottom: 45px;
  box-sizing: content-box;
}
.open__header__menu {
  display: none;
  cursor: pointer;
  height: 25px;
  aspect-ratio: 1.4/1;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  z-index: -1;
  position: relative;
}
.header__item__open {
  display: none;
}
.open__header__btn :not(.linear__header__btn:nth-child(even)) {
  background-color: #fff;
}
.linear__header__btn {
  width: 100%;
  height: 5px;
  border-radius: 2.5px;
  background-color: rgb(191, 191, 191);
}
.header__list::before {
  display: none;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 35px;
}
.header__list__link {
  color: #fff;
  text-transform: uppercase;
  font-size: var(--font-size);
}
.header__list__link:visited {
  color: #fff;
}
.header__list__link--active {
  color: var(--color-blue) !important;
}
/* main */
.main {
  flex-grow: 1;
}
.blog {
  margin: 150px 0;
}
.blog__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.blog__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog__img {
  margin-bottom: 30px;
}
.blog__title {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 700;
}
.blog__link {
  display: inline-block;
  font-size: 1.6rem;
  padding: 4px 10px;
  background-color: var(--color-blue);
  color: #fff;
}
.blog__link:visited {
  color: #fff;
}
.blog__link__btn {
  min-width: 223px;
  min-height: 47px;
  display: block;
  margin: 70px auto 150px;
}
/* Footer */
.footer {
  background-color: var(--color-black);
  padding: 50px 0 32px;
  color: var(--color-white);
  max-height: 1080px;
}
.footer * {
  line-height: normal;
}
.footer .container {
  padding: 0 90px;
}
.footer__menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.footer__menu__list {
  display: flex;
  flex-direction: column;
}
.footer__list__item {
  margin-bottom: 20px;
}
.footer__list__title {
  margin-bottom: 40px;
  font-size: 2.4rem;
  font-weight: 700;
}
.footer__list__link {
  font-size: var(--font-size);
}
.footer__list__link:hover {
  text-decoration: solid underline 1px #fff;
  text-underline-offset: 5px;
}
.footer__apps {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
}
.footer__copy {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 30px auto;
}
.footer__copy__text {
  font-size: 1.2rem;
}
.footer__copy-nav__item {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.footer__copy-nav__link {
  font-size: var(--font-size);
}
.footer__copy-nav__link:hover {
  text-decoration: solid underline 1px #fff;
  text-underline-offset: 5px;
}
/* MEDIA */
@media (max-width: 900px) {
  .swiper-wrapper {
    height: 1000px;
  }
  .header__inner {
    align-items: center;
  }
  .header__logo {
    order: 1;
    position: relative;
    z-index: 3;
  }
  .open__header__btn {
    order: 2;
    display: flex;
  }
  .open__header__menu {
    display: flex;
    order: 2;
    position: relative;
    z-index: 3;
  }
  .header__list {
    position: absolute;
    flex-direction: column;
    padding: 40px;
    gap: 40px;
    left: 0;
    right: 0;
    top: 0;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 30px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    transform: translateY(-150%);
    transition: transform 0.3s linear;
  }
  .header__list::before {
    content: "";
    display: block;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0 0 0 0;
    background-color: #555555;
    filter: blur(100px);
    transition: opacity 0.2s 0.3s linear;
    opacity: 0;
  }

  .header__item__open:checked ~ * .header__list {
    transform: translateY(0%);
  }
  .header__item__open:checked ~ * .header__list::before {
    opacity: 1;
  }
}

.slider::after {
  height: 100%;
}
@media (max-width: 800px) {
  .title {
    font-size: 6rem;
  }
  .top__link {
    font-size: 3rem;
    text-wrap: nowrap;
    padding: 0;
    padding: 20px 50px;
  }
  .slider {
    height: 1000px;
  }
  .footer__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(5px, 4vw, 40px);
    text-align: center;
  }
  .swiper-pagination-bullet {
    width: 60px;
    margin: 0 5px !important;
    margin-bottom: 20px !important;
  }
  .swiper-slide {
    max-height: 1000px;
  }
  .footer .container {
    padding: 0 20px;
  }
}
@media (max-width: 420px) {
  .header__list {
    padding: 10vw 15vw;
    gap: 40px;
  }
  .header__list::before {
    width: 100vw;
    height: 100vw;
  }
  .why-lease__list {
    grid-template-columns: 100vw;
  }
  .how-does__list__item::before {
    height: 60px;
    width: 60px;
    font-size: 3.4rem;
  }
  .how-does__list__item {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 20px;
  }
  .how__does__list__text {
    justify-self: end;
  }
  .inport__inner {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .inport__item {
    height: auto;
    text-align: center;
  }
  .footer__menu {
    grid-template-columns: 1fr;
  }
  .footer {
    max-height: none;
  }
  .footer__apps {
    flex-wrap: wrap;
  }
}
@media (max-width: 1230px) {
  .tabs__contact__item {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
    max-width: 1000px;
    margin: 0 auto;
  }
  .card {
    width: 270px;
    height: 350px;
    margin: 0 auto;
  }
  .blog__items {
    align-items: start;
  }
  .blog__item {
    gap: 20px 0;
  }
  .blog__img {
    width: 100%;
    margin-bottom: 0;
  }
}

/*________Обнулення________*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}

a {
  display: inline-block;
}
p,
b,
mark,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 10px;
  font-family: "Inter", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
textarea,
select {
  -webkit-box-shadow: 0 0 0 1000px inset #fff;
  box-shadow: 0 0 0 1000px inset #fff;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  background-color: transparent;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/
